body {
  /* padding: 8px 128px; */
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  padding: 8px 128px;
}

.nav-header {
  border: 2px solid greenyellow;
}

.links-container {
  border: 2px solid lime;
  
}

.links {
  display: flex;
  gap: 32px;
}

.hero-section {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  padding: 8px 128px;
}

.hero-content {
  width: 500px;
}

.info-section{
    padding: 8px 128px;
}

.info-section h2 {
  text-align: center;
  border: 2px solid salmon;
}

.info-section .info-container {
  border: 2px solid lightcoral;
  display: flex;
  gap: 32px;
}

.info {
  border: 2px solid blue;
}

.quote-section {
  border: 2px solid yellow;
  padding: 8px 128px;
}

.call-to-action-container {
  display: flex;
  border: 2px solid red;
  padding: 8px 128px;
}

.call-to-action-content {
  flex: 1 1 60%;
  border: 2px solid green;
  padding: 24px 48px;
}
.call-to-action-btn {
  flex: 1 1 40%;
  display: flex;
  padding: 48px 0;
  border: 2px solid turquoise;
  align-items: center;
  justify-content: center;
}

footer{
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 128px;
}